<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wikidata Changes Graph</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <style>
    body {
      margin: 0;
      font-family: 'Times New Roman', Times, serif;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    #controls {
      padding: 10px;
      background-color: #f0f0f0;
      border-bottom: 1px solid #ccc;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
    }
    
    .link {
      fill: none;
      stroke: #cccccc;
      stroke-opacity: 0.6;
    }

    #graph-container {
      position: relative;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-color: #ffffff;
    }

    svg {
      flex: 1;
      border: 2px solid black;
      display: block;
      width: 90%;
      height: 90%;
    }

    #info-box {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 300px;
      max-height: 400px;
      overflow-y: auto;
      border: 1px solid black;
      background-color: #f9f9f9;
      padding: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .dropdown-container, .checkbox-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    svg {
      flex: 1;
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  </style>
</head>
<body>
  <!-- Controls Section -->
  <div id="controls">
    <div class="dropdown-container">
      <label for="wikidata-code">Wikidata Code / Wikipedia Link: </label>
      <input type="text" id="wikidata-code" placeholder="Enter Wikidata Code / Wikipedia Link" size="30">
      <label for="year1">Newer Timepoint:</label>
      <select id="year1">
        <option value="2019">2019</option>
        <option value="2021">2021</option>
        <option value="2023">2023</option>
        <option value="present">Present</option>
      </select>
      <label for="year2">Older Timepoint:</label>
      <select id="year2">
        <option value="2019">2019</option>
        <option value="2021">2021</option>
        <option value="2023">2023</option>
        <option value="present">Present</option>
      </select>
    </div>
    <button id="create-graph">Create Graph</button>
    <div class="checkbox-container">
      <label><input type="checkbox" id="include-id-statements"> Include ID number statements</label>
      <label><input type="checkbox" id="show-added" checked> Show Added Objects</label>
      <label><input type="checkbox" id="show-removed" checked> Show Removed Objects</label>
    </div>
    
    <div>
      <button id="reset-zoom-btn">Reset Zoom & Position</button>
      <label for="search-node">Search Node:</label>
      <input type="text" id="search-node" placeholder="Enter Node Code or Label">
      <button id="search-node-btn">Search Node</button>
    </div>    
  </div>

  <div id="spinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;">
    <div style="border: 5px solid #f3f3f3; border-top: 5px solid #3498db; border-radius: 50%; width: 40px; height: 40px; animation: spin 1s linear infinite;"></div>
  </div>
  

  <!-- Graph Section -->
  <div id="graph-container">
    <svg></svg>
    <div id="info-box">
      <strong>Node Details:</strong>
      <div id="details"></div>
    </div>
  </div>

  <script src="js/functions.js"></script>
  <script src="js/view.js"></script>

</body>
</html>